*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}

body{
    background-color: rgb(17, 0, 255);

}

main {
    background-color: white;
    width: 1000px;
    margin: auto;
    padding: 25px;
    box-shadow: 5px 5px 7px rgb(17, 17, 17)
}
 h1{
    font-size: 1.7em;
    color: rgb(17, 0, 255);
 }

 h2, h3, h4, h5{
    font-size: 1.5em;
 }

 img.lado {
    float: right;
 }

 @media screen and (max-width: 768px) {
    main{
        background-color: white;
        margin: flex;
        padding: 25px;
        box-shadow: 5px 5px 7px rgb(17, 17, 17);
    }
    iframe.edu{
        width: 450px;
        height: 300px;
    }

    .container {
        width: 650px;
    }

}


